html, body{
    margin: 10;
    left: 10;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#Menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(217, 251, 255);
    display: grid;
    grid-template-columns: repeat(4,190px);
    justify-content: center;
    grid-template-rows: 50px;
}

a:link, a:visited {
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #7795b4;
    color: #fff;
}

a-scene {
    display:flex;
    position: relative;
    width: 300px;
    height: 300px;
}

#aboutme{
    display: flex;
    flex-direction: row;
    width: 1500px;
    height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    position: top, right;

}
